.logo {
    cursor: pointer;
    height: 55px;
    margin-left: 10px;
}
.shadow-dark {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.bell {
    background: none;
    border: none;
    padding-right: 20px;
}
.Avatar {
    background : none;
    border: none;
    padding-right: 4vb;
}
.navbar-toggler{
    border: none;
}
.offcanvas.offcanvas-start.d-sm-none {
    margin-top: 5em;
    width: 180px;
    border-radius: 20px;
    margin-left: 2%;
    height: 82%;
}
.menu.d-none.d-sm-block {
    margin-top: 5em;
    height: 82vh;
    width: 180px;
    margin-left: 2%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.listitems {
    padding: 15px 0px;
}
.Dashboard {    
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.12) solid thin;
}
.Dashboarditems {
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
}
.Dashboardimg {
    min-width: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.Dashboardtext {
    padding-top: 4px;
    padding-bottom: 4px;
}
.Timings{
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.12) solid thin;
}
.Timingsitems {
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
}
.Timingsimg {
    min-width: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.Timingstext {
    padding-top: 4px;
    padding-bottom: 4px;
}
.Leaves {
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.12) solid thin;
}
.Leavesitems {
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
}
.Leavesimg {
    min-width: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.WFH {
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.12) solid thin;
}
.WFHitems {
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
}
.WFHimg {
    min-width: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.Tasks {
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.12) solid thin;
}
.Tasksitems {
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
}
.Tasksimg {
    min-width: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.People {
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.12) solid thin;
    background-color: rgb(195, 195, 195);
}
.Peopleitems {
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
}
.Peopleimg {
    min-width: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.body-items{
    display: flex;
}
.Peopledetails {
    margin-top: 5em;
    padding-top: 1.15%;
    padding-left: 3%;
}
.home {
    fill: gray;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.home:focus {
    outline: none;
}
.arroy {
    fill: gray;
    height: 30px;
    width: 30px;
}
.Userpeople {
    color: gray;
    cursor: pointer;
}
.logout {
    width: 25px;
    height: 20px;
    fill: blue;
}
.logoutdiv {
    display: flex;
    padding-top: 10px;
    cursor: pointer;
}
.profilediv {
    display: flex;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.12) solid thin;
}
.profile {
    width: 25px;
    height: 20px;
    fill: blue;
}
.logos {
    display: flex;
    align-items: center;
}
.Dashboard:hover {
    background-color: rgb(240, 231, 231);
}
.Timings:hover {
    background-color: rgb(240, 231, 231);
}
.Leaves:hover {
    background-color: rgb(240, 231, 231);
}
.WFH:hover {
    background-color: rgb(240, 231, 231);
}
.Tasks:hover {
    background-color: rgb(240, 231, 231);
}